<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :commenter_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :photo_id %>
    <%= f.select :photo_id, options_from_collection_for_select(Photo.all, :id, :to_s, @comment.photo_id), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :schedule_time %>
    <%= f.text_field :schedule_time, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :pin, class: "form-check-input" %>
    <%= f.label :pin, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :schedule_date %>
    <%= f.text_field :schedule_date, class: "form-control" %>
  </div>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
